.iconGroup{
    display:flex;
    align-items:center;
    margin:10px;
}
.iconGroup svg{
    font-size:2rem;
    padding-right:5px;
}
.stretchInput{
    width:20rem;
}
.fieldError{
    border-radius:10px;
    padding:10px;
    padding-left:14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin:15px;
    animation:0.125s alert;
}
.fieldError span{
    vertical-align:middle;
}
.fieldError svg{
    vertical-align:middle;
    padding-right:4px;
}
.alertHidden{
    display:none;
}

@keyframes alert{
    0% {font-size:0rem}
    100% {font-size:1rem}
}
