a{
    text-decoration:none;
    color:inherit;
}
.wide-button{
    min-width:10rem!important;
}
.focusLogo{
    height:auto;
    width:90%;
    max-width:400px;
}
.returnButton{
    min-width:0;
    margin:1%!important;
}